<div id="current-funds">{{accountName}}&#58;&nbsp;{{currentFunds | currency: 'GBP'}}</div>
<div id="options-toolbar-{{i}}">
    <input type="number" id="input-amount" #inputAmount/>
    <div id="buttons-{{i}}">
        <button id="button-withdraw-{{i}}" class="btn btn-secondary" [disabled]="!canWithdraw" (click)="Withdraw(parseFloatValue(inputAmount.value))">Withdraw</button>&nbsp;
        <button id="button-deposit-{{i}}" class="btn btn-secondary" [disabled]="!canDeposit" (click)="Deposit(parseFloatValue(inputAmount.value))">Deposit</button>&nbsp;
        <button id="button-transfer-{{i}}" class="btn btn-secondary" [disabled]="!canTransfer" (click)="Transfer(parseFloatValue(inputAmount.value))">Transfer</button>
        <div>
            <select class="btn btn-secondary btn-sm dropdown-toggle" (change)="SetSelectedAccountNumber($event.target.value)">
                <option *ngFor="let account of allAccounts" [value]="accountNumber">{{account.AccountName}}</option>
            </select>
        </div>
    </div>
</div>